@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

:root {
    --primary-color: #ffa400;
    --secondary-color: #009ffd;
    --acent1-color: #2a2a72;
    --acent2-color: #eaf6ff;

    --heading-font: red, serif;
    --paragraph-font: gray, serif;

    --nav-background-color: #eaf6ff;
    --nav-link-color: #2a2a72;
    --nav-hover-link-color: #009ffd;
    --nav-hover-background-color: #ffa400;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--acent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: noce;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}